/* Write your CSS here */
.cart-summary-container {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
  text-align: right;
}
.order-total {
  font-size: 20px;
  font-weight: bold;
}
.total-amount {
  color: #171f46;
}
.total-items {
  margin-top: 5px;
  font-size: 16px;
}
.checkout-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
